[submodule "external/camera-calibration"]
	path = external/camera-calibration
	url = https://github.com/KYabuuchi/camera_calibration.git
[submodule "external/glfw-drawer"]
	path = external/glfw-drawer
	url = https://github.com/KYabuuchi/glfw-drawer.git
